<H3> List of House</H3>
<!-- home page  -->

<div class="table-responsive "
     style="margin-top: 5px;">
    <table class="table mb-0"
           *ngIf="surveyData && surveyData.length">
        <thead>
            <tr>
                <th>id</th>
                <th>Address line1</th>
                <th>Address line2 </th>
                <th> no of people</th>
                <th>Risk</th>

            </tr>
        </thead>
        <tbody *ngFor="let member of surveyData">
            <tr [routerLink]="['survey/', member.id]">


                <td>{{member.id}}</td>
                <td>
                    <a>


                        {{ member.line1 }}
                    </a>
                </td>
                <td>{{ member.line2 }}</td>
                <td>{{member.members.length}}</td>

                <td *ngFor="let mem of member.members">
                    <div class=" risk-low"
                         *ngIf="mem.age < 60">.</div>
                    <div class="risk-high"
                         *ngIf="mem.age> 60">.</div>
                </td>

                <td>
                    <button class="btn btn-outline-primary btn-sm"
                            [routerLink]="['/edit', member.id]">
                        Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-outline-primary btn-sm"
            routerLink="add">
        Add Address
    </button>

</div>