<H3> List of House</H3>

<div class="table-responsive "
     style="margin-top: 5px;">
    <table class="table mb-0"
           *ngIf="surveyData && surveyData.length">
        <thead>
            <tr>
                <th>id</th>
                <th>address line1</th>
                <th>line2 </th>
                <th> no of people</th>

            </tr>
        </thead>
        <tbody *ngFor="let member of surveyData">
            <tr>

                <td>{{member.id}}</td>
                <td>
                    <a [routerLink]="['/survey/:id']">
                        {{ member.line1 }}
                    </a>
                </td>
                <td>{{ member.line2 }}</td>
                <td>{{member.members.length}}</td>

                <td>
                    <button class="btn btn-outline-primary btn-sm"
                            [routerLink]="['/survey', id, 'edit']">
                        Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-outline-primary btn-sm"
            [routerLink]="'/add'">
        Add Address
    </button>

</div>