<h3>Add New House :</h3>
<div class="form-group"
     style="margin: 10px;">

    <form (ngSubmit)="saveMember()"
          [formGroup]="addHouseForm">
        <div class="form-group row mb-2">
            <label for="line1Id"
                   class="col-md-2 col-form-label"> Address line 1 </label>
            <div class="col-md-8">
                <input type="text"
                       id="line1"
                       placeholder="house no. / street (required)"
                       formControlName="line1"
                       [ngClass]="{'is-invalid': (addHouseForm.get('line1').touched || addHouseForm.get('line1').dirty) && !addHouseForm.get('line1').valid }" />
                <span class="invalid-feedback">
                    <span *ngIf="addHouseForm.get('line1').errors?.required">
                        Please enter the house number!
                    </span>

                </span>
            </div>
        </div>


        <div class="form-group row mb-2">
            <label for="line2Id"
                   class="col-md-2 col-form-label"> Address line 2 </label>
            <div class="col-md-8">
                <input type="text"
                       id="line2Id"
                       placeholder="house no. / street (required)"
                       formControlName="line2"
                       [ngClass]="{'is-invalid': (addHouseForm.get('line2').touched || addHouseForm.get('line2').dirty ) && !addHouseForm.get('line2').valid }" />
                <span class="invalid-feedback">
                    <span *ngIf="addHouseForm.get('line2').errors?.required">
                        Please enter the house number!
                    </span>
                    <span *ngIf="addHouseForm.get('line2').errors?.minlength">
                        The address should be at least 5 characters!
                    </span>
                    <span *ngIf="addHouseForm.get('line2').errors?.maxlength">
                        The address should not be more than 40 characters!
                    </span>
                </span>
            </div>
        </div>


        <div formArrayName="members"
             *ngFor="let member of members.controls; let i=index">

            <div [formGroupName]="i">

                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label"
                           attr.for="{{'nameId' + i}}">Name </label>
                    <div class="col-md-8">
                        <input class="form-control"
                               id="{{'nameId' + i}}"
                               type="text"
                               formControlName="name"
                               [ngClass]="{'is-invalid': (members.controls[i].get('name').touched || members.controls[i].get('name').dirty) && !members.controls[i].get('name').valid }" />
                        <span class="invalid-feedback">
                            <span *ngIf="members.controls[i].get('name').errors?.required">
                                Please enter name
                            </span>
                            <span *ngIf="members.controls[i].get('name').errors?.minlength">
                                The address should be at least 3 characters!
                            </span>
                            <span *ngIf="members.controls[i].get('name').errors?.maxlength">
                                The address should not be more than 32 characters!
                            </span>

                        </span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label"
                           attr.for="{{'genderId'+i}}">gender </label>
                    <div class="col-md-8">
                        <label class="form-check-inline">
                            <input class="form-check-input"
                                   id="{{'genderId'+i}}"
                                   type="radio"
                                   value="male"
                                   formControlName="gender">Male

                        </label>
                    </div>
                    <div class="col-md-8">
                        <label class="form-check-inline">
                            <input class="form-check-input"
                                   id="{{'genderId'+i}}"
                                   type="radio"
                                   value="female"
                                   formControlName="gender">Female

                        </label>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label"
                           attr.for="{{'ageId' +i}}">Age </label>
                    <div class="col-md-8">
                        <input class="form-control"
                               id="{{'ageId' +i}}"
                               type="number"
                               formControlName="age"
                               [ngClass]="{'is-invalid': (members.controls[i].get('age').touched || members.controls[i].get('age').dirty) && !members.controls[i].get('age').valid }" />
                        <span class="invalid-feedback">
                            <span *ngIf="members.controls[i].get('age').errors?.required">
                                Please enter age greater than 0.
                            </span>

                        </span>
                    </div>
                </div>


                <div class="form-group row mb-2">
                    <div class="col-md-4">

                        <button class="btn btn-outline-primary"
                                type="button"
                                [disabled]="!members.valid"
                                (click)="addMember()">
                            Add new member
                        </button>
                        <button class="btn btn-outline-warning btn-sm mx-4"
                                type="button"
                                title="Delete this member"
                                (click)="deleteMember(i)">Delete member
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row mb-2">
            <div class="offset-md-2 col-md-4">
                <button class="btn btn-primary mr-3"
                        type="submit"
                        style="width:80px"
                        [title]="addHouseForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                        [disabled]="!addHouseForm.valid">
                    Save
                </button>
                <button class="btn btn-outline-secondary mr-3"
                        style="width:80px"
                        (click)="onBack()">
                    <i class="fa fa-chevron-left"></i> Back
                </button>

            </div>
        </div>

        <div class="form-group row mb-2">
            <div class="offset-md-2 col-md-4">
                <button class="btn btn-primary mr-3"
                        type="submit"
                        style="width:80px"
                        [disabled]="!addHouseForm.valid">
                    Delete
                </button>

            </div>
        </div>


    </form>


</div>